<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Default logging: INFO (can be changed programmatically) -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    
    <!-- Application modules inherit from root (allows programmatic control) -->
    <logger name="com.datagenerator" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    
    <!-- Reduce noise from third-party libraries -->
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.jboss" level="WARN"/>
</configuration>
